body,
#root {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body > div {
  flex: 1 0 auto;  /* This will allow the div to grow and shrink, but not shrink below its base size */
}

.footer {
  flex-shrink: 0;  /* This will prevent the footer from shrinking */
}