body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body,
#root {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body > div {
  flex: 1 0 auto;  /* This will allow the div to grow and shrink, but not shrink below its base size */
}

.footer {
  flex-shrink: 0;  /* This will prevent the footer from shrinking */
}